*
{
    margin: 0;
    padding: 0;
}

body{
background: #fef2f5;
font-family: Arial, Helvetica, sans-serif;
}
.box
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.fblogo
{
    width: 500px;
}
.fblogo img{
    width: 300px;
    margin-bottom: -10px;
} 
.fblogo p{
    color: #000;
    font-size: 26px;
    font-weight: normal;
    line-height: 32px;
}
.formbox
{
    width: 350px;
    background-color: white;
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
    margin-left: 15px;
    box-shadow: 0px 2px 10px 1px rgba(71, 71, 0.52);
}
.formbox input{
    width: 100%;
    background-color: white;
    padding: 15px;
    font-size: 18px;
    box-sizing: border-box;
    border: 1px solid #eeebeb;
    border-radius: 5px;
    margin-bottom: 15px;
    outline: none;
}
.formbox input:focus{
    box-shadow: 0px 0px 1px 1px rgb(22,111,229);
}
.formbox button{
    background-color: #166fe5;
    border: none;
    width:100%;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    margin-bottom:15PX ;
    border-radius: 5px;
    padding: 13px 0;
    cursor: pointer;
}
.formbox button:hover{
    background-color: #1817f2;
}
.formbox a{
    color: #166fe5;
    font-size: 14px;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 20px;
    display: block;
}
.formbox hr{
    border: 1px solid #dadde1;
    margin-bottom: 15px;
}
.formbox a:hover
{
    text-decoration: underline;
}
.formbox .new a
{
color: #fff;
font-size: 16px;
text-decoration: none;
padding: 15px 20px;
border-radius: 5px;
background: #36a420;
font-weight: 600;
display: inline-block;
margin-left: 80px;
margin-bottom: 5px;
}
.para
{
display: block;
    border-top: none;
    color: #1c1e21;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding-top: 0;
}